
.link {
    margin-top: 20px;
}

.sideBtn{
margin:5%
}

.imageDiv{
    padding-left: 41%;
    padding-top: 5%;
    
}
@media (max-width: 768px){
    .imageDiv{
        padding-left: 30%;
        padding-right: 40%;
        padding-top: 5%;
        

    }

}